:root{
  --card-min-width: 600px;
  --card-min-height: calc(var(--card-min-width:)/1.5);
  --card-width: 25vw;
  --card-icon-size: 35px;
}

*{
  box-sizing: border-box;
}

.wrapper-card{
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;

  font-family: sans-serif;
  z-index:10;
  color:white;
  margin: 10px;
}

.card::before, .card::after{
  z-index: 2;
  content: '';
  position: absolute;
  background-color: white;
  width: calc(var(--card-min-width)/2);
  height: calc(var(--card-min-width)/2);
  border-radius: calc(var(--card-min-width)/4);
  
  opacity: 0.15;
  
}

.bg-weekly-sales{
  background: linear-gradient(90deg, rgba(224,168,61,1) 0%, rgba(241,31,78,1) 100%);
}

.bg-weekly-orders{
  background: linear-gradient(90deg, rgba(61,160,224,1) 12%, rgba(72,48,228,1) 100%);
}
.bg-visitors-online{
  background: linear-gradient(90deg, rgba(61,224,145,1) 2%, rgba(55,228,48,1) 72%);
}

.card::before{
  bottom: 20%;
  left: 70%;
}

.card::after{
  top: 55%;
  left: 55%;
}

.card{
  min-width: var(--card-min-width);
  width: var(--card-width);
  min-height: var(--card-min-height);
  
  padding: 50px 40px;
}

.card > span{
  display: block;
}

.card-header{
  display: inline-block;
  font-size: 1.5em;
  text-transform: capitalize;
}

.card-icon{
  width: var(--card-icon-size);
  height: var(--card-icon-size);
  float: right;
}

.card-numbers{
  margin-top: 30px;

  font-size: 2.5em;
  font-style: bold;
}
.card-dop-info{
  margin-top: 50px;

  font-size: 1.2em;
  font-style: bold;
  
}